@import './base.css';

:root {
    --light-pink: #ffe6d8;
    --red-damask: #e36443;
    --geebung: #d48b1c;
    --brandy-punch: #dc842c;
}

.bg-light-pink {
    background-color: var(--light-pink);
}

.bg-red-damask {
    background-color: var(--red-damask);
}

.text-red-damask {
    color: var(--red-damask);
}

.bg-geebung {
    background-color: var(--geebung);
}

.bg-brandy-punch {
    background-color: var(--brandy-punch);
}

.text-brandy-punch {
    color: var(--brandy-punch);
}

.btn-red-damask {
  background-color: #ff6d49;
  color: white;
  border: none;
}

.btn-red-damask:hover {
  background-color: #e36443;
  color: white;
}

.aside-side-panel {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 64px;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid #444;
}

.img-cover {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 25%;
  overflow: hidden;
  pointer-events: none;
}

.handball-man {
  width: 120%;
  max-width: none;
  object-fit: cover;
  object-position: left top;
  transform: translateX(-17%);
}